<%- include("template/cabecera", {tituloWeb: "Panel de Administración"}) %>

<div class="container">
  <div class="table-responsive">
    <table class="table table-primary">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Potencia</th>
          <th scope="col" colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% if(arrayCoches.length >0) { %> <% arrayCoches.forEach(coches => {
        %>
        <tr class="">
          <td scope="row"><%= coches.id %></td>
          <td><%= coches.Marca %></td>
          <td><%= coches.Modelo %></td>
          <td><%= coches.Potencia %></td>
          <td><a href="coches/<%= coches._id %>">Editar</a></td>
          <td>
            <button
              class="btn btn-danger btn-sm"
              id="eliminar<%= coches._id %>"
              data-id="<%= coches._id %>"
              onclick="eliminar(this)"
            >
              Eliminar
            </button>
          </td>
        </tr>
        <% }) %> <% } %>
      </tbody>
    </table>
  </div>
</div>

<a class="btn btn-primary" href="/coches/crear" role="button">Crear</a>

<%- include("template/footer") %>

<script>

  async function eliminar(button) {
    const btnEliminar = button;
      console.log(btnEliminar.dataset.id);
      try {
        const data = await fetch(`/coches/${btnEliminar.dataset.id}`, {
          method: "delete",
        });
        const res = await data.json();
        console.log(res);
        if (res.estado) {
          window.location.href = "/coches";
        } else {
          console.log(res);
        }
      } catch (error) {
        console.log(error);
      };
  }
</script>
